body {
    background-color: white;
}

h1 {
    color: Black;
    text-align: left;
    font-family: Optima, sans-serif;
    margin-top: 80px;
    margin-left: 100px;
    text-shadow: 1px 1px 2px grey;
}

h1 a {
    color: black;
        text-decoration: none;
        transition: color 0.3s ease;
}

.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
    transition: left 0.3s;
}

.menu-toggle .bar {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transition: 0.3s;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: black;
    color: white;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 999;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}


.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid grey;
}

.sidebar ul li a {
    display: block;
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: lightgrey;
}

.sidebar.active {
    left: 0;
}

.Information {
    background-color: lightgrey;
    border-radius: 25px;
    padding: 20px 20px 20px 200px;
    width: 800px;
    height: 500px;
    margin-top: 150px;
    margin-left: 100px;
    position: relative;
    font-size: 20px;
    white-space: pre-line;
    font-family: Optima, sans-serif;
    box-shadow: 10px 10px 20px black;
}

.Me-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
    outline: 0 10px 6px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -20px;
    left: -30px;
    box-shadow: 5px 5px 10px black;
}

.Information a {
        color: black;
        text-decoration: none;
        transition: color 0.3s ease;
}

.Information a:hover {
    color: Blue;
}
@media screen and (max-width: 600px) {
    .Information {
        background-color: lightgrey;
        max-width: 90%;
        width: auto;
        margin: 0 auto;
        margin-top: 50px;
        border-radius: 25px;
        padding: 20px;
        padding-top: 100px;
        font-size: 16px; /* 작은 화면에서 글씨 크기 조정 */
        font-family: Optima, sans-serif;
        box-shadow: 10px 10px 20px black;
        display: flex;
        flex-direction: column; /* 세로 정렬 */
        justify-content: center; /* 수직 가운데 정렬 */
        align-items: center; /* 수평 가운데 정렬 */
        text-align: center; /* 텍스트 가운데 정렬 */
    }

    .Me-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid black;
        box-shadow: 5px 5px 10px black;
        margin-bottom: 20px; /* 이미지와 텍스트 사이 간격 추가 */
    }
}


